<% layout("/layouts/boilerplate") %>
<head>
  <link rel="stylesheet" href="./css/admin.css" />
</head>

<form action="/logout" method="post">
  <button>Logout</button>
</form>

<form action="/addStu" method="get">
  <button>Add Student</button>
</form>
<form action="/students" method="get">
  <button>ALL Student</button>
</form>
