<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-solid fa-school-flag"></i>
    </a>
    <a class="navbar-brand" href="#"><b>D.A.V.M.Richhi</b></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <a class="navbar-brand" href="/"
          ><i class="fa-solid fa-school-flag"></i>
        </a>
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><b>DAVM</b></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <br />
        <a class="nav-link" href="/"><b>Home</b></a
        ><br />
        <a class="nav-link" href="/explore"><b>Explore</b></a
        ><br />
        <a class="nav-link" href="/contact"><b> Contact </b></a><br />
        <a class="nav-link" href="/fees"><b> Fees Structure</b></a
        ><br />
        <a class="nav-link" href="/aboutus"><b> About Us </b></a><br />
        <a class="nav-link" href="/admission"><b> Admission</b></a
        ><br />
        <a class="nav-link" href="/policies"><b> Policies</b></a
        ><br />
        <a class="nav-link" href="/upcoming"><b> Upcoming Events</b></a
        ><br />
        <a class="nav-link" href="/faqs"><b> FAQs</b></a
        ><br />
        <a class="nav-link" href="/project"><b> Project Ideas</b></a
        ><br />
      </div>
    </div>
  </div>
</nav>
