<% layout("/layouts/boilerplate") %>
<head>
  <link rel="stylesheet" href="./css/contact.css" />
</head>
<div class="contact-container">
  <h2>Contact Us</h2>
  <div class="contact-info">
    <p><strong>Phone:</strong> +91 9617012230</p>
    <p><strong>Phone:</strong> +91 7067416638</p>
    <p>
      <strong>Email:</strong>
      <a href="mailto:brp010175@gmail.com">brp010175@gmail.com</a>
    </p>
    <p>
      <strong>Address:</strong> Richhi, Shivpur,Block- Seoni Malwa Narmadapuram
      MP
    </p>
  </div>

  <form action="/contact" method="post">
    <input name="name" type="text" placeholder="Your Name" required />
    <input name="email" type="email" placeholder="Your Email" required />
    <input name="phone" type="tel" placeholder="Your Phone Number" required />
    <textarea
      name="message"
      placeholder="Your Message"
      rows="5"
      required
    ></textarea>
    <input type="submit" value="Send Message" />
  </form>
</div>
