<% layout("/layouts/boilerplate") %>
<head>
  <link rel="stylesheet" href="./css/contact.css" />
</head>
<div class="contact-container">
  <h2>Contact Us</h2>
  <div class="contact-info">
    <p><strong>Phone:</strong> +91 9617012230</p>
    <p><strong>Phone:</strong> +91 7067416638</p>
    <p>
      <strong>Email:</strong>
      <a href="mailto:brp010175@gmail.com">brp010175@gmail.com</a>
    </p>
    <p>
      <strong>Address:</strong> Richhi, Shivpur,Block- Seoni Malwa Narmadapuram
      MP
    </p>
  </div>

  <form>
    <input type="text" placeholder="Your Name" required />
    <input type="email" placeholder="Your Email" required />
    <input type="tel" placeholder="Your Phone Number" required />
    <textarea placeholder="Your Message" rows="5" required></textarea>
    <input type="submit" value="Send Message" />
  </form>
</div>
